.Sidenav {
    height: 100%;
    width: 9%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #eee;
    background-color:;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 4rem;
}



.Sidenav a:hover {
    color: #310404;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
       
}